/target
/Cargo.lock
/rust/sapient-rs/target
/python/sapient-py/build
/python/sapient-py/dist
/python/sapient-py/*.egg-info
/python/sapient-py/src/*.egg-info
/python/sapient-py/.pytest_cache
/python/sapient-py/.mypy_cache
/python/sapient-py/**/__pycache__/
/python/sapient-py/**/*.pyc
/csharp/sapient-csharp/bin
/csharp/sapient-csharp/obj
